index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Tymoteusz Stępień - portfolio websit</title><link rel="stylesheet" href="assets/style/main.min.css"></head><body><button class="btn-open-menu">&#8801;</button><nav class="nav"><div class="links-box"><a class="links-box__link" href="#landing">Home</a><a class="links-box__link" href="#portfolio">Portfolio</a><a class="links-box__link" href="#contact">Contact</a></div></nav><section class="landing" id="landing"><div class="wrapper"><picture class="portrait"><source class="portrait__item" srcset="assets/img/me-480.png" media="(max-width: 480px)"><source class="portrait__item" srcset="assets/img/me-768.png" media="(max-width: 768px)"><img class="portrait__item" src="assets/img/me.png" alt="My portrait"></picture><h1 class="landing__name">Tymoteusz Stępień</h1><span class="landing__prof">Self-Educated Junior Front-End</span><blockquote class="landing__quote">"Things will not build by themselves."</blockquote></div></section><section class="portfolio" id="portfolio"><div class="wrapper"><h2 class="portfolio__title">Where can you see my creations?</h2><section class="gallery"><div class="gallery-item"><picture class="gallery-image"><source class="gallery-image__item" srcset="assets/img/github-768.png" media="(max-width: 768px)"><img class="gallery-image__picture" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Github profile screen"></picture><h3 class="gallery-item__title">Github profile.</h3><span class="gallery-item__desc">My repositories on github.</span><a class="gallery-item__link" href="https://github.com/WhiteLeash">Link</a></div><div class="gallery-item"><picture class="gallery-image"><source class="gallery-image__item" srcset="assets/img/codepen-768.png" media="(max-width: 768px)"><img class="gallery-image__picture" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Codepen profile screen"></picture><h3 class="gallery-item__title">Codepen profile.</h3><span class="gallery-item__desc">My profile on codepen.</span><a class="gallery-item__link" href="http://codepen.io/thetanadu/">Link</a></div><div class="gallery-item"><picture class="gallery-image"><source class="gallery-image__item" srcset="assets/img/library-768.png" media="(max-width: 768px)"><img class="gallery-image__picture" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Library screen"></picture><h3 class="gallery-item__title">Site for school library.</h3><span class="gallery-item__desc">First use of WordPress, raw WordPress without my own theme.</span><a class="gallery-item__link" href="http://zsz-ozorkow.org/bibliotekazsz/">Link - website</a></div><div class="gallery-item"><picture class="gallery-image"><source class="gallery-image__item" srcset="assets/img/machepsd-768.png" media="(max-width: 768px)"><img class="gallery-image__picture" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="MachePSD screen"></picture><h3 class="gallery-item__title">PSD to HTML - Mache.</h3><span class="gallery-item__desc">My struggle with converting PSD into HTML. (Work in progress)</span><a class="gallery-item__link" href="assets/sites/mache/index.html">Link - website</a><a class="gallery-item__link" href="https://symu.co/freebies/templates-4/mache-psd-template/">Link - PSD files used in project.</a></div></section></div></section><section class="contact-box" id="contact"><div class="wrapper"><h2 class="contact-box__title">How to contact me?</h2><section class="contact-details"><h4 class="contact-details__name">Tymoteusz Stępień</h4><span class="contact-details__method">Facebook: <a class="contact-details__link" href="https://www.facebook.com/white.leash">White.Leash</a></span><span class="contact-details__method">Email:                             <a class="contact-details__link" href="mailto:tymoteusz.stepien@wp.pl?subject=Contact_from_portfolio">tymoteusz.stepien@wp.pl</a></span><span class="contact-details__method">Call: <a class="contact-details__link" href="tel:+48793430996">+48 793 430 996</a></span></section></div><footer class="footer"><div class="wrapper"><span class="footer__text">Made with <span class="text-pink">&hearts; </span>by WhiteLeash</span></div></footer></section><script type="application/javascript" src="assets/scripts/app.min.js"></script></body></html>

src/template/index.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    title Tymoteusz Stępień - portfolio websit
    link(rel='stylesheet', href='assets/style/main.min.css')
  body
    button.btn-open-menu &#8801;
    nav.nav
      .links-box
        a(href="#landing").links-box__link Home
        a(href="#portfolio").links-box__link Portfolio
        a(href="#contact").links-box__link Contact
    section.landing#landing
      .wrapper
        picture.portrait
          source(srcset="assets/img/me-480.png" media="(max-width: 480px)").portrait__item
          source(srcset="assets/img/me-768.png" media="(max-width: 768px)").portrait__item
          img(src="assets/img/me.png", alt="My portrait").portrait__item
        h1.landing__name Tymoteusz Stępień
        span.landing__prof Self-Educated Junior Front-End
        blockquote.landing__quote "Things will not build by themselves."
    section.portfolio#portfolio
      .wrapper
        h2.portfolio__title Where can you see my creations?
        section.gallery
          .gallery-item
            picture.gallery-image
              source(srcset="assets/img/github-768.png" media="(max-width: 768px)").gallery-image__item
              img(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", alt="Github profile screen").gallery-image__picture
            h3.gallery-item__title Github profile.
            span.gallery-item__desc My repositories on github.
            a(href="https://github.com/WhiteLeash").gallery-item__link Link
          .gallery-item
            picture.gallery-image
              source(srcset="assets/img/codepen-768.png" media="(max-width: 768px)").gallery-image__item
              img(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", alt="Codepen profile screen").gallery-image__picture
            h3.gallery-item__title Codepen profile.
            span.gallery-item__desc My profile on codepen.
            a(href="http://codepen.io/thetanadu/").gallery-item__link Link
          .gallery-item
            picture.gallery-image
              source(srcset="assets/img/library-768.png" media="(max-width: 768px)").gallery-image__item
              img(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", alt="Library screen").gallery-image__picture
            h3.gallery-item__title Site for school library.
            span.gallery-item__desc First use of WordPress, raw WordPress without my own theme.
            a(href="http://zsz-ozorkow.org/bibliotekazsz/").gallery-item__link Link - website
          .gallery-item
            picture.gallery-image
              source(srcset="assets/img/machepsd-768.png" media="(max-width: 768px)").gallery-image__item
              img(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", alt="MachePSD screen").gallery-image__picture
            h3.gallery-item__title PSD to HTML - Mache.
            span.gallery-item__desc My struggle with converting PSD into HTML. (Work in progress)
            a(href="assets/sites/mache/index.html").gallery-item__link Link - website
            a(href="https://symu.co/freebies/templates-4/mache-psd-template/").gallery-item__link Link - PSD files used in project.
    section.contact-box#contact
      .wrapper
        h2.contact-box__title How to contact me?
        section.contact-details
          h4.contact-details__name Tymoteusz Stępień
          span.contact-details__method Facebook: 
            |
            a(href="https://www.facebook.com/white.leash").contact-details__link White.Leash
          span.contact-details__method Email:                             
            |
            a(href="mailto:tymoteusz.stepien@wp.pl?subject=Contact_from_portfolio").contact-details__link tymoteusz.stepien@wp.pl
          span.contact-details__method Call: 
            |
            a(href="tel:+48793430996").contact-details__link +48 793 430 996
      footer.footer
        .wrapper
          span.footer__text Made with 
            |
            span.text-pink &hearts; 
            | by WhiteLeash
    script(type="application/javascript", src="assets/scripts/app.min.js")
